.navbar{
    background-color: red;
    position: fixed;
    width: 100%;

    
}
*{
    padding: 0 ;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 30PX;
    

}
.navbar .container .menu-container li{
    display: inline-block;

}
.navbar .container a {
    color: white;
}
.navbar .container .menu-container li{
    margin-right: 10PX;
}
.navbar.container.menu-container ul{
    padding: 10PX 3PX;
}
.navbar .container .logo-container a {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.navbar .container .logo-container span{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
 .menu-container a:hover{
    color: black;
    transition: 0.8s;
}

.section1{
    background: url('fleur2.jpg') no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}
.section1 a {
    background-color: black;
}